.App{
  text-align: center;
  border: 2px solid blueviolet;
  max-width: 900px;
  height: 650px;
}

.btn-primary {

  margin-left: 0;

}

.temp {
  font-size: 60px;

}

.degree {
  position: absolute;
  margin-top: 40px;
  font-size: 15px;
  top: 170px;

  

}

.degree a{
  text-decoration: none;
}




h1{
  margin: 30px 0 30px;
 
}

h2{
  text-align: center;
  margin-top: 5px;
  font-size: 40px;
  font-weight: 600;
  
}





footer{
  margin-top: 70px;



}

