.App{
  text-align: center;
  border: 2px solid blueviolet;
  max-width: 900px;
  height: 560px;
}



h1{
  margin: 30px 0 30px;
 
}

h2{
  text-align: center;
  margin-top: 30px;
  font-size: 80px;
  font-weight: 800;
}



.degree {
  position: absolute;
  margin-top: 30px;
  font-size: 20px;

}

h2 {
  text-align: center;
  font-size: 30px;
}

footer{
  margin-top: 120px;
}