.App{
  text-align: center;
  border: 0 solid grey;
  max-width: 1000px;
  height: 530px;
  box-shadow: 2px 2px 8px grey;
  padding-top: 10px;

}

.btn-primary {

  margin-left: 0;

}

.temp {
  font-size: 10px;
  margin-right: 0px;
  font-size: 50px;
 

}
.la{
  font-weight: 800;
}

.render{
  font-weight: 800;
}

.github{
    font-weight: 800;

}

.weatherInfo{
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  color: blue;
}


.degree {
 
  margin-right: 80px;
  font-size: 15px;
  position: absolute;
  top: 200px;

}

.weatherInfo{
  color: blue;
}

.search-input{
  box-shadow: 0px 2px 3px grey;
}

h1{
 
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  margin-left: 40px;

  
}





footer{
  margin-top: 100px;



}

